:root {
  --primary-color: #14213d;
  --secondary-color: #e5e5e5;
  --teriary-color: #fca311;
  --error-color: #ff345c;
}

* {
  margin: 0px;
}

input::placeholder {
  font-size: 1.5rem;
}

input:focus {
  outline-color: var(--teriary-color);
  border-color: var(--teriary-color);
}

/* Hide arrows on input elements */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::placeholder {
  font-size: 1rem;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--secondary-color);
  color: var(--teriary-color);
}

.py-bottom {
  padding-bottom: 1rem;
}

.hide {
  display: none;
}

/* Intro */
.outer-div {
  background-color: var(--primary-color);
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  height: 90vh;
  max-width: 1100px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.intro-div {
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  padding-top: 10px;
}

/* Billing Info */
.billing {
  background-color: #e6e6e6;
  border-radius: 8px;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.billing label {
  font-size: 1.25rem;
}

.billing input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #14213d80;
  padding-left: 5px;
}

.billing select {
  width: 100%;
  height: 1.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #14213d80;
}

.flex-group {
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--teriary-color);
}

.flex-item {
  margin: 0.5rem 1rem;
  width: 100%;
}

select:focus {
  outline-color: var(--teriary-color);
}

select:active {
  outline-color: var(--teriary-color);
}

/* Payment Info */
.payment {
  background-color: var(--secondary-color);
  border-radius: 8px;
  max-width: 900px;
  margin: 0.5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #14213d80;
  padding-left: 5px;
}

.payment label {
  font-size: 1.25rem;
}

/* Submit Button */
.submit {
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  border: 2px solid var(--primary-color);
  font-size: 1rem;
  color: var(--teriary-color);
  cursor: pointer;
  border-radius: 8px;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: calc(100% - 4rem);
  max-width: 930px;
  transition: all 200ms ease-in-out;
  letter-spacing: 2px;
}

.submit:hover {
  outline-color: var(--teriary-color);
  border-color: var(--teriary-color);
  background-color: #14213d80;
  color: var(--teriary-color);
}

.submit:active {
  transform: scale(0.94);
}

/* Card Images */

#card-images {
  width: 100%;
  margin-top: 4px;
  display: flex;
  max-width: 900px;
}

#card-images img {
  align-items: flex-start;
  margin-right: 6px;
  width: 2rem;
  height: 1.4rem;
}

/* Go back button */
.go-back {
  background-color: #e5e5e5;
  padding: 0.75rem 1.75rem;
  border: 2px solid var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.75rem;
  align-self: flex-end;
  transition: all 300ms ease-in-out;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 830px;
}

.go-back:hover {
  outline-color: var(--teriary-color);
  border-color: var(--teriary-color);
  color: var(--teriary-color);
}

.go-back:active {
  transform: scale(0.9);
}

/* Error and req */
.error {
  color: var(--error-color);
  font-size: 0.85rem;
}

.errorPlaceholder::placeholder {
  font-size: 0.75rem;
  color: rgba(255, 52, 92, 0.8);
}

/* Response */
@media (max-width: 850px) {
  .outer-div {
    padding: 0 0.5rem;
    height: fit-content;
  }

  .intro-div p {
    font-size: 0.85rem;
  }

  .flex-group.odd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .flex-group.even {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .flex-item {
    margin: 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #fca311;
  }

  .billing {
    max-width: 600px;
    margin-bottom: 1rem;
  }

  .payment {
    max-width: 600px;
  }

  .billing input {
    display: block;
  }

  .payment input {
    width: 100%;
    display: block;
  }
}
